.imgForm {
  width: 105px;
  position: relative;
  top: 8.5rem;
  left: 4rem;
}

.mainForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: #d3e7f3;
  width: 450px;
  height: 550px;
  margin: 0 auto;
  margin-top: 0.5rem;
  color: #34558b;
  border-radius: 5%;
}

.clockText {
  margin: 0 auto;
}

.tempText {
  font-size: 50rem;
}

.textForm {
  position: relative;
  top: 7rem;
  margin: 0 auto;
}
