.imgForm {
  width: 105px;
  margin-right: 20rem;
}

.mainForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background: linear-gradient(
    rgba(70, 100, 90, 0.5),
    rgba(77, 106, 60, 0.7),
    rgba(120, 125, 80, 1)
  );
  width: 500px;
  height: 400px;
  margin: 0 auto;
  margin-top: 2.5rem;
  color: #fc7e8b;
  border-radius: 5%;
}

.clockText {
  margin-bottom: 30rem;
}

.tempText {
  font-size: 50rem;
}

.textForm {
  position: relative;
  bottom: 1rem;
}
