.AuthTemplate {
  position: absolute;
  width: 99%;
  height: 92.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WhiteBox {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.025);
  padding: 2rem;
  width: 360px;
  border-radius: 2px;
}

.logoArea {
  display: block;
  position: relative;
  bottom: 8rem;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
