@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap");

.HeadBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.Wrapper {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.logo {
  font-family: "Fira Code", monospace;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.95rem;
  font-weight: 800;
  padding-left: 3.25rem;
  color: #551a8b;
}

.right {
  display: flex;
  align-items: center;
  padding-right: 4.25rem;
}

.spacer {
  height: 4rem;
}

.userInfo {
  display: block;
  font-weight: 800;
  margin-right: 1rem;
}

.pages {
  position: relative;
  text-decoration: none;
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  color: #3e2723;
  font-weight: bold;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 900px) {
  .HeadBlock {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .imgForm {
    overflow: hidden;
  }

  .pages {
    display: inline-block;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 0.5rem;
  }

  .HeadBlock {
    position: relative;
    margin: 0 auto;
    width: 100%;
  }
}
