.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  padding-top: 40vh;
  font-weight: bold;
}

.URLInput {
  margin: auto;
  border-radius: 4px;
  width: 30em;
  text-align: left;
  border: 2px solid #eeeeee;
  background: #eeeeee;
  outline: none;
  font-size: 1.3em;
  padding: 5px 10px;
}

.convertButton {
  font-size: 1.3em;
  padding: 5px 10px;
  font-family: sans-serif;
  margin: 2% auto;
  border: 2px solid #0485ff;
  background: #0485ff;
  color: white;
  transition: 0.15s;
}

.URLInput:focus {
  border: 2px solid #0485ff;
}

.convertButton:hover {
  background: #016acc;
  border-color: #016acc;
}

@media only screen and (max-width: 660px) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .URLInput {
    margin: auto;
    width: 100%;
  }

  .convertButton {
    margin: 7% auto;
    width: 100%;
  }
}

.opt {
  width: 30vw;
  margin: 2% auto;
  padding: 4px;
  border-radius: 7%;
}
