form {
    margin:0;
    border:0;
    width: '240px'
}

// input [type = "text"], input[type = "password"] {
//     border: 0;
//     background: none;
//     display: block;
//     margin: 20px auto;
//     text-align: center;
//     border: 2px solid 
// }

.submit_btn {
    align-items: center;
}