.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.title {
  font-family: sans-serif;
  flex-grow: 1;
  align-self: flex-end;
  padding-top: 3rem;
}

.toolBar {
  min-height: 128;
  align-items: flex-start;
}

@media (max-width: 770px) {
  .form {
    margin: 0 2%;
  }
}
