.wrapper {
    background: black;
    padding: 1rem;
    color: white;
    font-size: 2rem;

    //inverted가  .wrapper와 함께 사용되었을 때에만 적용됨
    &.inverted {
        color: black;
        background: white;
        border: 1px solid black
    }
}

/*글로벌 css를 작성하고 싶다면 */

:global {
    //:global {}로 감싸기
    .something {
        font-weight: 800;
        color: aqua;
    }
}