.clockForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 8rem;
    position: relative;
    bottom: 6rem;
    left: 4rem;
  }
  
  .clockText {
    font-size: 1.5rem;
    padding-right: 3.3rem;
    color: #3DFFF9;
  }
  
  .dateText {
    font-size: 2rem;
  }
  