.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.25rem;
    padding-bottom: 1rem;
    margin: 0 auto;
}

.showInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: sans-serif;
    flex-grow: 1;
    align-self: flex-end;
    padding-top: 5rem;
}

.toolBar {
    min-height: 128;
    align-items: flex-start;
}