.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.showInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: sans-serif;
    flex-grow: 1;
    align-self: flex-end;
    padding-top: 6rem;
}

.toolBar {
    min-height: 128;
    align-items: flex-start;
}
